@model IEnumerable<Db.Entity.Product>

@{
    ViewBag.Title = @Model.FirstOrDefault().Category.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FirstOrDefault().Category.Name</h2>


@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <h3>@item.Name</h3>
                <img data-src="holder.js/300x300" alt="...">
                <div class="caption">
                    <p>@item.Description</p>
                    <p class="text-primary">@item.Price</p>
                    <p>
                        <a href="#" class="btn btn-default" role="button">В корзину</a>
                        <a href="#" class="btn bottom-left btn-default" role="button">Подробнее</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
}